<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All blogs</title>
</head>
<body>
    <div class="heading">
        <h1>Blog</h1>
        <h2>Ikechukwu has written {{ blogs.count }} blog</h2>
    </div>
    
    <div class="contents">
        {% for blog in blogs %}
            <h2>{{ blog.title }}</h2>
            <h5>{{ blog.date }}</h5>
            <p>{{ blog.description }}</p>
        {% endfor %}
    </div>
</body>
</html>